# Python-related temp files
*.egg-info/
**/__pycache__/
.coverage
.pytest_cache/
.ipynb_checkpoints/
.vscode/
build/
data/
trash/
.DS_Store
*.nii.gz
*.nii
run.py
tests.py
spherical_analytical_vs_simulated.png